* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    background-color: burlywood;
    /* background: url(); */
    background-size: cover;
    background-position: center;
}

li {
    list-style: none;
}

.home {
    font-weight: 600;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1rem;
}

/* a:hover {
    color: blueviolet;
} */

/* HEADER */
header {
    position: relative;
    padding: 0 2 rem;
}

.navbar {
    width: 100%;
    height: 60px;
    /* max-width: 1000px; */
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* backdrop-filter: blur; */
    /* -webkit-backdrop-filter: blur (8px);  */
}

.navbar .logo a {
    margin-left: 50px;
    margin-right: 185px;
    font-size: 1.4rem;
    font-weight: 500;
}

.navbar .link {
    display: flex;
    gap: 2rem;
}

.navbar .togle_btn p{
    color: red;
    font-size: 0.1rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    /* background-color: rgb(255, 255, 255); */
    /* margin-left: 10px; */
    margin-right: 100px;
    color: #fff;
    padding: 0.5rem 1rem;
    border: 1px solid #eee;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
}

.action_btn:hover {
    scale: 1.05;
    color: #fff;
}

.action_btn:active{
    scale: 0.95;
}

/* RESPONSIVE */

.dropdown_menu {
    display: none;
   position: absolute;
   right: 2rem;
   top: 60px;
   height: 0;
   width: 300px;
   background: rgba(255, 255, 255, 0.1);
   backdrop-filter: blur(15px);
   border-radius: 10px;
   overflow: hidden;
   transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu .open {
    height: 200px;
}

.dropdown_menu > li {
   padding: 0.7rem;
   display: flex;
   justify-content: center;
   align-items: center;
}

.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}
.garis {
    color: #eee;
}
.navbar .togle_btn {
  text: hidden;
  content: none;
}

@media (max-width: 992px) {
    .navbar .link,
    .navbar .action_btn{
        display: none;
    }    

    .navbar .togle_btn{
        display: block;  
        margin-right: 20px;
    }

    .dropdown_menu {
        display: block;
    }
}

