@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* width: 106%; */
}

.container {
    background-image: url('../navbar/asset/Image.png');
    /* scale: 1.05; */
    height: 695px;
    background-size: cover;
    position: relative;
}
body {
    /* height: 100vh; */
    /* background-image: url('AuthController2.png'); */
    /* background-color: burlywood; */
    /* background: url(); */
    /* background-size: cover;
    background-position: center; */
    overflow-x: hidden;
}

/* .content > img{
  
} */

li {
    list-style: none;
    /* margin-left: 20px; */
}

.home {
    font-weight: 600;
}

a {
    font-family: 'League Spartan' sans-serif;
    font-size: 16px;
    line-height: 32px;
    font-weight: 500;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 5px ;
    gap: 8rem;
    /* font-size: 1rem; */
}

ul .garis {
    color: #eee;
    /* margin-right: 3px; */
}

/* a:hover {
    color: blueviolet;
} */

/* HEADER */
header {
    position: relative;
    padding: 0 2 rem;
}

.navbar {
    position: fixed;
    width: 100%;
    height: 80px;
    /* max-width: 1000px; */
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255, 0.08);
    backdrop-filter: blur(10px); 
    /* -webkit-backdrop-filter: blur (8px);  */
}

.navbar .logo img {
    margin-left: 100px;
    margin-right: 204px;
    font-size: 20px;
    font-weight: 500;
}

.navbar .link {
    display: flex;
    gap: 2rem;
}

.navbar .togle_btn{
    display: none;
}
/* .navbar .togle_btn p{
    color: red;
    font-size: 0.1rem;
    cursor: pointer;
    display: none;
} */

.action_btn {
    /* background-color: rgb(255, 255, 255); */
    /* margin-left: 10px; */
    font-family: 'League Spartan' sans-serif;
    margin-right: 50px;
    color: #fff;
    padding: 3px 10px;
    border: 1px solid #eee;
    outline: none;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    font-size: 16px;
    line-height: 32px;
    font-weight: 500;
    cursor: pointer;
    gap: 0.4rem;
}
.action_btn img{
    text-align: center;
    align-items: center;
   width: 20px;
   height: 20px;
   border-radius: 50%;
}

.action_btn:hover {
    scale: 1.05;
    color: #fff;
}

.action_btn:active{
    scale: 0.95;
}

/* RESPONSIVE */

.dropdown_menu {
    display: none;
   position: absolute;
   right: 2rem;
   top: 60px;
   height: 0;
   width: 300px;
   background: rgba(255, 255, 255, 0.1);
   backdrop-filter: blur(15px);
   border-radius: 10px;
   overflow: hidden;
   transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu .open {
    height: 200px;
}

.dropdown_menu > li {
   padding: 0.7rem;
   display: flex;
   justify-content: center;
   align-items: center;
}

/* .dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}
.garis {
    color: #eee;
} */

.content {
    /* position: relative; */
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 8% 0;
    padding-top: 350px; 
}

.container-content {
    max-width: 600px;
}

.container-content > h3 {
    width: 700px;
    color: #fff;
    margin-bottom: 20px;
    font-size: 72px;
    line-height: 72px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
}


.container-content > p {
    font-size: 20px;
    color: rgb(247, 238, 238);
    margin-bottom: 25px;
    font-weight: 400;
    /* font-family: 'League Spartan', sans-serif; */
}

.container-content .btn {
    display: inline-block;
    padding: 15px 82px;
    background-color: rgb(242, 127, 51);
    border-radius: 40px;
    /* box-shadow: 0 0 10px #0ef; */
    font-size: 24px;
    line-height: 32px;
    /* color: #1f242d; */
    text-decoration: none;
    /* letter-spacing: 1px; */
    font-weight: 600;
    margin-bottom: 260px;
    font-family:  'League Spartan', sans-serif ;
    /* font-size: 20px; */
    color: #fff;
}
.btn:hover {
    cursor: pointer;
    display: inline-block;
    padding: 15px 82px;
    background-color: rgb(242, 127, 51);
    border-radius: 40px;
    /* box-shadow: 0 0 10px #0ef; */
    font-size: 24px;
    line-height: 32px;
    /* color: #1f242d; */
    text-decoration: none;
    /* letter-spacing: 1px; */
    font-weight: 600;
    margin-bottom: 260px;
    font-family:  'League Spartan', sans-serif ;
    /* font-size: 20px; */
    color: #fff;
    box-shadow: #dc502d 0px 30px 60px -12px inset, #dc502d 0px 30px 60px -12px; 
}

.container-content h3:nth-of-type(2){ /*fungsi ini untuk mngambil h3 karena h3 ada 2 jadi diambil type2 pilih yang mana supaya tidak bikin class*/
    margin-bottom: 30px;
}

.section-title {
    /* text-align: center; */
    padding-bottom: 30px;
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #45505b;
  }

  /* .section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #0563bb;
  bottom: 0;
  left: calc(50% - 20px);
} */


.tentang {
    /* position: relative; */
    /* width: 100%; */
    /* height: 100vh; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(246, 249, 252, 1);
    /* margin-top: 0px; */
    padding: 70px 8% 0; /*ini sangat ngaruh suaaya contene ak tengah atau menjorok kedalam*/
    padding-top: 120px;
}

.section-tentang p{
    width: 500px; 
    max-width: 600px;
    font-size: 48px;
    font-weight: 400;
    /* color: red; */
}
.section-tentang .satu{
    font-size: 48px;
   font-family: 'League Spartan', sans-serif;
   font-weight: 400;
   color: 
   #FF6600;
}
.section-tentang span{
    font-size: 48px;
    color: rgb(44, 70, 133);
    
}
.section-tentang p{
    font-size: 48px;
    color: rgb(44, 70, 133);
    /* padding-left: 0px; */
}
.section-tentang .garis h2{
    font-size: 24px;
    color: rgb(242, 127, 51);
    font-weight: 400;
    line-height: 32px;
    font-family: 'League Spartan', sans-serif;
}
.section-tentang .garis img{
    margin-bottom: 4px;
}

.tentang-second p {
    display: block;
    /* position: relative; */
    margin-top: 10px;
    color: rgba(9, 31, 79, 1);
    font-size: 20px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 400;
    /* content: hidden; */
    /* max-width: 600px; */
    /* width: 800px; */
    /* padding-right: px; */
    margin-left: 130px;
    line-height: 1.5;
    }
.tentang-second p span{
    
    color: rgba(9, 31, 79, 1);
    font-size: 20px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
}
/* .garis{
    display: flex;
    justify-content: ;
    height: 1px;
    width: 3px;
    background-color: #0ef;
} */
h2 {
    /* border-bottom: 1px red solid;
    width: 3px; */
    color: black;
}

.col {
    /* position: relative; */
    /* width: 100%; */
    /* height: 100vh; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 0px; */
    padding: 70px 8% 0;
    background-color: rgba(246, 249, 252, 1);
   /* height: 100px;
   width: 100px;
   background-color: #0ef; */
}
.col .icon {
    /* display: flex; */
    /* align-items: stretch; */
    border-radius: 4px;
    height: 440px;
    width: 360px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 100px;
}
.col .icon .btn-1{
    display: inline-block;
    padding: 6px 40px;
    background-color: rgb(255, 243, 236);
    border-radius: 40px;
    /* box-shadow: 0 0 10px #0ef; */
    font-size: 16px;
    /* color: #1f242d; */
    text-decoration: none;
    /* letter-spacing: 1px; */
    font-family: 'League Spartan', sans-serif;
    font-weight: 600;
    margin-top: 30px;
    /* margin-bottom: 200px; */
    color: rgb(242, 127, 51);
}
.col .icon .btn-1:hover{
    display: inline-block;
    padding: 6px 40px;
    background-color: rgb(225, 93, 17);
    border-radius: 40px;
    /* box-shadow: 0 0 10px #0ef; */
    font-size: 16px;
    /* color: #1f242d; */
    text-decoration: none;
    /* letter-spacing: 1px; */
    cursor: pointer;
    font-weight: 600;
    margin-bottom: 260px;
    box-shadow:  rgb(225, 93, 17) 0px 0px 90px; 
    color: rgb(225, 93, 17);
}
.col .icon h3 {
    font-weight: 600;
    color: rgba(24, 57, 125, 1);
    margin-top: 95px;
    margin-left: 26px;
    font-size: 24px;
}
.col .icon p {
    /* font-weight: 600; */
    color: rgba(24, 57, 125, 1);
    line-height: 24px;
    line-break: 50px;
    font-size: 12px;
    margin-right: 10px ;
    font-size: 18px;
    margin-top: 15px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 300;
    margin-left: 27px;
    padding-right: 10px;
    /* font-size: 20px; */
}
.col .icon a {
    display: inline-block;
    padding: 8px 50px;
    background-color: rgba(255, 245, 238, 1);
    border-radius: 40px;
    /* box-shadow: 0 0 10px #0ef; */
    font-size: 16px;
    color: #FF6600;
    text-decoration: none;
    /* letter-spacing: 1px; */
    font-weight: 700;
    margin-top: 17px;
    margin-left: 27px;
    /* margin-bottom: px; */
    /* color: #fff; */
}
.col .icon .p {
    /* display: inline-block; */
    width: 13px;
    height: 13px;
    float: right;
    /* margin-left: 1px; */
    margin-top: 87px;
    margin-right: 0px;
    background-color: #FF6600;
}
.col .icon .icon-content {
    margin-top: 50px;
    margin-left: 100px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.3s;
    /* position: relative; */
}
.col .icon .icon-content img{
    width: 310px;
    height: 200px;
    margin-left: 60px;
    margin-top: 57px;
}
.col .icon .icon-content .gambar1{
    display: block;
    /* position: absolute; */
    margin-left:50px;
    height: 180px;
    width: 100px;
    /* top: -58px; */
}
.col .icon .icon-content .gambar2{
    display: block;
    /* position: absolute; */
    margin-left: 10px;
    height: 180px;
    width: 100px;
    /* top: -58px; */
}
.col .icon .icon-content .gambar3{
    display: block;
    /* position: absolute; */
    margin-left: 10px;
    height: 180px;
    width: 100px;
    /* top: -58px; */
}


.layanan   {
    position: relative;
    background-color: #1f242d;
    /* width: 100%; */
    /* height: 100vh; */
    display: flex;
    margin-top: 100px;
    justify-content: space-around;
    align-items: center;
    /* margin-top: 0px; */
    padding: 70px 10% 0; /*ini sangat ngaruh suaaya contene ak tengah atau menjorok kedalam*/
}

/* .section-tentang p{
    width: 500px; 
    max-width: 600px;
} */
/* .section-tentang .satu{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900px;
    color: rgb(242, 127, 51);
} */
/* .section-tentang span{
    color: rgb(44, 70, 133);
}
.section-tentang p{
    font-size: 30px;
    color: rgb(44, 70, 133);
} */

/* .tentang-second p {
    position: ;
    margin-top: 10px;
    color: rgba(9, 31, 79, 1);
    max-width: 600px;
    width: 800px;
    margin-right: -20px;
} */
/* .garis{
    display: flex;
    justify-content: ;
    height: 1px;
    width: 3px;
    background-color: #0ef;
} */
h2 {
    /* border-bottom: 1px red solid;
    width: 3px; */
    color: black;
}

.kapabilitas {
    /* position: relative; */
    background-color: #191918;
    /* width: 100%; */
    /* height: 100vh; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* margin-top: 50px; */
    /* margin-top: 0px; */
    padding: 70px 8% 0; /*ini sangat ngaruh suaaya contene ak tengah atau menjorok kedalam*/
}

.section-kapabilitas .satu{
    margin-top: 20px;
    font-size: 48px;
    color: rgb(242, 127, 51);
    line-height: 56px;
    font-family: 'League Spartan', sans-serif;
}

.section-kapabilitas span{
    color: rgb(44, 70, 133);
}
.section-kapabilitas .garis h2{
    margin-top: 60px;
    font-size: 24px;
    color: rgb(242, 127, 51);
    font-weight: 400;
    line-height: 32px;
    font-family: 'League Spartan', sans-serif;
}
.section-kapabilitas .garis img{
    margin-bottom: 4px;
}

.section-kapabilitas p{
    font-size: 48px;
    color: rgb(44, 70, 133);
    line-height: 56px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 400;
}

.col-2 {
    /* position: relative; */
    /* width: 100%; */
    /* height: 100vh; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 0px; */
    padding: 70px 7% 0;
    background-color: #191918;
   /* height: 100px;
   width: 100px;
   background-color: #0ef; */
}

.col-2 .icon {
    /* position: relative; */
    height: 400px;
    width: 290px;
    background-color: rgb(39, 43, 49);
    margin-bottom: 50px;
    margin-left: 15px;
    /* display: flex; */
    /* flex-direction : column; */
  /* box-shadow : 0 5px 20px rgba(0,0,0,0.5); */
  transition : 0.3s ease-in-out;
  /* border-radius : 15px; */
}


.kapabilitas-content img{
    padding: 28px;
    margin-left: 7px;
    width: 100%;
    /* transition: .2s; */
}
.kapabilitas-content img:hover{
    cursor: pointer;
    margin-top: -80px;
        /* visibility : visible;  */
}
.kapabilitas-content img:hover .isi-icon{
    visibility : visible;
    margin-top : 30px;

}
 .isi-icon{
    position : relative;
    top : -100px;
    /* padding : 10px 15px; */
    color : #111;
    text-align : center;
    visibility : hidden;
    opacity : 0;
    transition : 0.3s ease-in-out;
}
.col-2 .icon img {
    font-weight: 600;
    padding-left: 15px;
    /* margin: 10px 10px 15px 0; */
    /* margin-top: 47px; */
    /* margin-left: 20px; */
    font-size: 22px;
}

.col-2 .icon p {
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    line-height: 32px;
    /* line-break: 50px; */
    font-family: 'League Spartan', sans-serif;
    font-size: 24px;
    /* margin-right: 10px ; */
    margin-top: 8px;
    padding-left: 20px;
    /* margin-left: 27px; */
    /* font-size: 20px; */
}
.col-2 .icon .btn-2 {
    display: inline-block;
    padding-left: 28px;
    font-size: 16px;
    color: rgba(197, 226, 255, 1);
    text-decoration: none;
    /* letter-spacing: 1px; */
    font-weight: 400;
    margin-top: 40px;
}
.col-2 .icon .btn-2-1 {
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    font-family: 'League Spartan', sans-serif;
    padding-left: 28px;
    color: rgba(197, 226, 255, 1);
    text-decoration: none;
    /* letter-spacing: 1px; */
    font-weight: 400;
    margin-top: 75px;
}
.col-2 .icon .btn-2-3 {
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    font-family: 'League Spartan', sans-serif;
    padding-left: 28px;
    color: rgba(197, 226, 255, 1);
    text-decoration: none;
    /* letter-spacing: 1px; */
    font-weight: 400;
    margin-top: 75px;
}
.col-2 .icon .btn-2-4 {
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    font-family: 'League Spartan', sans-serif;
    padding-left: 28px;
    color: rgba(197, 226, 255, 1);
    text-decoration: none;
    /* letter-spacing: 1px; */
    font-weight: 400;
    margin-top: 75px;
}
/* .col-2 .icon .p { */
    /* display: block;
    width: 9px;
    height: 9px;
    float: top; */

    /* float: right; */
    /* margin-left: 1px; */
    /* margin-top:0px; */
    /* margin-bottom: 90px; */
    /* margin-right: 0px; */

    /* background-color: coral; */
/* } */

.testimoni {
    /* position: relative; */
    background-color: #191918;
    /* width: 100%; */
    /* height: 100vh; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 30px; */
    /* margin-top: 0px; */
    padding: 70px 8% 0; /*ini sangat ngaruh suaaya contene ak tengah atau menjorok kedalam*/
    overflow: hidden;
    /* -ms-overflow-style: none; */
}

.testimoni::-webkit-scrollbar{
    display: none;
}

.testimoni .section-testimoni .garis h2{
    font-size: 24px;
    color: rgb(242, 127, 51);
    font-weight: 400;
    line-height: 32px;
    font-family: 'League Spartan', sans-serif;
 }
.testimoni .section-testimoni .garis img{
    margin-bottom: 4px;
 }

.section-testimoni .satu{
    font-size: 42px;
    margin-bottom: 90px;
    line-height: 56px;
    margin-top: 20px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 400;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    /* font-weight: 900px; */
    color: rgba(109, 157, 255, 1);
}

.testimoni-second .bulet {
    width: 44px;
    height: 44px;
    padding-bottom: 3px;
    padding-right: px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 720px;
    margin-bottom: 36px;
    background-color: rgb(255, 255, 255);
    color: #45505b;
    font-weight: 600;
    margin-top: 0px;
    font-size: 30px;
    border-radius: 50%;
}

.kota-2 {
    align-items: center;
    /* margin-left: 30px; */
    display: flex;
    margin-bottom: 36px;
    justify-content: center;
    padding-bottom: 3px;
    padding-left: 2px;
    width: 44px;
    height:44px;
    border-radius: 50%;
    color: #000001;
    font-weight: 600;
    font-size: 30px;
    background-color: rgb(255, 255, 255);
}

.col-3 {
    /* position: relative; */
    /* display: inline-block; */
    /* width: 100%; */
    /* height: 100vh; */
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    /* margin-top: 0px; */
    padding: 10px 0% 0;
    /* padding-left: 20px; */
    /* overflow-x: scroll; */
    /* -ms-overflow-style: none; */
    /* scrollbar-width: none; */
    /* -ms-overflow-style: none; */
    /* -webkit-overflow-scrolling: touch; */
    background-color: #191918;
   /* height: 100px;
   width: 100px;
   background-color: #0ef; */
}

.col-3 .icon {
    display: block;
    height: 550px;
    width: 100%;
    padding-right: 50px;
    padding-left: 20px;
    background-color: rgba(37, 42, 49, 1);
    margin-bottom: 80px;
    margin-left: 110px;
    /* margin-right: 25px; */
}
.col-3 .icon-2 {
    display: block;
    height: 550px;
    width: 2020px;
    padding-right: 20px;
    padding-left: 20px;
    background-color:rgba(37, 42, 49, 1);
    margin-bottom: 50px;
    margin-left: 30px ;
    /* margin-right: 25px; */
}
.col-3 .icon-3 {
    display: block;
    height: 530px;
    width: 2020px;
    padding-right: 100px;
    /* right: hidden; */
    background-color:rgba(37, 42, 49, 1);
    margin-bottom: 50px;
    margin-left: 40px ;
    /* margin-right: 25px; */
}

.testimoni-content img{
    padding: 15px;
    width: 100px;
}

.col-3 .icon  img {
    display: absolute;
    height: 65px;
    width: 65px;
    margin-top: -28px;
    margin-left: 40px;
    border-radius: 50%;
    /* top: 10px;
    left: 0; */
}
.col-3 .icon-2 img {
    display: absolute;
    height: 65px;
    width: 65px;
    margin-top: -28px;
    margin-left: 40px;
    border-radius: 50%;
    /* top: 10px;
    left: 0; */
}
.col-3 .icon-3 img {
    display: absolute;
    height: 45px;
    width: 45px;
    margin-top: -28px;
    margin-left: 40px;
    border-radius: 50%;
    /* top: 10px;
    left: 0; */
}

.col-3 .icon .testimoni-flex {
   display: flex;
   /* color: #0ef; */
   margin-top: 40px;
   margin-left: 40px;
}

.col-3 .icon .testimoni-flex .garis {
   width: 5px;
   height: 25px;
   margin-right: 10px;
   background-color: rgba(252, 144, 64, 1);
}
.col-3 .icon h3 {
    font-size: 24px;
    line-height: 32px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);

}
.col-3 .icon h4 {
    margin-bottom: 30px;
   margin-left: 55px;
   font-size: 20px;
   line-height: 24px;
   font-family: 'League Spartan', sans-serif;
   font-weight: 500;
   color: rgba(252, 144, 64, 1);
   /* margin-top: 5px; */
}
.col-3 .icon p {
   margin-left: 40px;
   margin-top: 20px;
   font-size: 20px;
   font-family: 'League Spartan', sans-serif;
   font-weight: 400;
   line-height: 40px;
   width: 500px;
   color: 
   rgba(219, 237, 255, 1);
}
.col-3 .icon .btn-2 {
    margin-left: 27px;
    margin-top: 110px;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(219, 237, 255, 1);
 }

 .col-3 .icon .btn-2 span {
    margin-left: 27px;
    margin-top: 75px;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(137, 139, 140);
 }

.col-3 .icon-2 .testimoni-flex {
   display: flex;
   margin-top: 40px;
   margin-left: 40px;
}

.col-3 .icon-2 h3 {
    font-size: 24px;
    line-height: 32px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}

.col-3 .icon-2 .testimoni-flex .garis {
   width: 5px;
   height: 25px;
   margin-right: 10px;
   background-color: rgba(252, 144, 64, 1);
}

.col-3 .icon-2 h4 {
    margin-bottom: 30px;
    margin-left: 55px;
    font-size: 20px;
   line-height: 24px;
   font-family: 'League Spartan', sans-serif;
   font-weight: 500;
   color: rgba(252, 144, 64, 1);
    color: rgba(252, 144, 64, 1);
    /* margin-top: 5px; */
 }

.col-3 .icon-2 p {
    margin-left: 40px;
    margin-top: 20px;
    width: 378px;
    font-size: 20px;
   font-family: 'League Spartan', sans-serif;
   font-weight: 400;
   line-height: 40px;
   width: 500px;
   color: 
   rgba(219, 237, 255, 1);
 }

 .col-3 .icon-2 .btn-2 {
    margin-left: 27px;
    margin-top: 70px;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(219, 237, 255, 1);
 }

 .col-3 .icon-2 .btn-2 span {
    margin-left: 27px;
    margin-top: 75px;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(137, 139, 140);
 }


.col-3 .icon-3 .testimoni-flex {
   display: flex;
   margin-top: 26px;
   margin-left: 40px;
}

.col-3 .icon-3 .testimoni-flex .garis {
   width: 5px;
   height: 25px;
   margin-right: 10px;
   background-color: rgba(252, 144, 64, 1);
  
}

.col-3 .icon-3 h3 {
    font-size: 24px;
    line-height: 32px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}

.col-3 .icon-3 h4 {
    margin-left: 55px;
    font-size: 20px;
   line-height: 24px;
   font-family: 'League Spartan', sans-serif;
   font-weight: 500;
   color: rgba(252, 144, 64, 1);
    color: rgba(252, 144, 64, 1);
    /* margin-top: 5px; */
 }
 .col-3 .icon-3 p {
    margin-left: 40px;
    margin-top: 20px;
    width: 378px;
    color: 
    rgba(219, 237, 255, 1);
 }

 .col-3 .icon-3 .btn-2 {
    margin-left: 27px;
    margin-top: 75px;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(219, 237, 255, 1);
 }
 .col-3 .icon-3 .btn-2 span {
    margin-left: 27px;
    margin-top: 75px;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(219, 237, 255, 1);
 }

 .lihat-lengkap {
    background-color: #191918;
 }
 .lihat-lengkap .isi-lihat-legkap {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .lihat-lengkap .isi-lihat-legkap button {
    display: inline-block;
    box-sizing: border-box;
    padding: 15px 40px;
    border: 0.1px solid rgb(247, 136, 63);
    background: none;
    border-radius: 40px;
    font-size: 24px;
    line-height: 32px;
    /* color: #1f242d; */
    /* font-family: 'League Spartan'; */
    font-weight: 600;
    font-family: 'League Spartan', sans-serif;
    margin-bottom: 40px;
    color: rgba(255, 157, 92, 1);
 }
 .lihat-lengkap .isi-lihat-legkap button:hover {
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    padding: 15px 40px;
    border: 0.1px solid rgb(255, 127, 42);
    background:  linear-gradient(82.3deg, #FF6601 0%, #FF9D5C 100%);
    box-shadow: #dc502d 0px 30px 60px -12px inset, #dc502d 0px 30px 30px -10px; 
    /* transition-delay: 0.5s; */
    border-radius: 40px;
    font-size: 24px;
    /* color: #1f242d; */
    font-weight: 600;
    font-family: 'League Spartan', sans-serif;
    margin-bottom: 40px;
    margin-bottom: 40px;
    color: rgb(253, 103, 15);
 }

.mitra {
    /* position: relative; */
    background-color: #191918;
    /* display: flex; */
    /* justify-content: ; */
    align-items: center;
    padding: 70px 10% 0; /*ini sangat ngaruh suaaya contene ak tengah atau menjorok kedalam*/
    }

    .mitra .section-mitra {
        display: flex;
        justify-content: center;
    }
    /* .mitra .section-mitra .garis {
        width: 40px;
        height: 2px;
        background-color: burlywood;
    } */
    .mitra .section-mitra h2 {
        /* width: 187px;
        height: 32px; */
        text-align: center;
        align-items: center;
        font-size: 24px;
    color: rgb(242, 127, 51);
    font-weight: 400;
    line-height: 32px;
    font-family: 'League Spartan', sans-serif;
        /* line-height: 32px; */
        /* margin-left: 20px; */
        /* identical to box height, or 133% */
        /* color: #FC9040; */
    }
    .mitra .section-mitra img {
        margin-bottom: 4px;
    }

    .mitra .center {
        text-align: center;
    }
    
    .mitra .center .satu{
        margin-top: 20px;
        font-family: 'League Spartan' sans-serif;
        font-weight: 400;
        font-size: 48px;
        /* line-height: 56px; */
        /* font-style: normal; */
        line-height: 56px;
        color: rgba(109, 157, 255, 1);
        /* margin-bottom: ; */
    }
    
    .mitra .center p{
        font-family: 'League Spartan' sans-serif;
        font-weight: 400;
        font-size: 48px;
        line-height: 56px;
        color: rgba(252, 144, 64, 1);
        /* margin-bottom: ; */
    }
    
    .kerja-sama{
        display: flex;
        justify-content: space-evenly;
        background-color: #191918;
        padding-left: 90px;
        padding-right:90px;
    } 
    /* .kerja-sama .img-1{ */
        /* background: linear-gradient(269.21deg, #19191B -43.37%, rgba(26, 30, 38, 0) 77.75%); */
        /* transform: rotate(180deg); */
    /* }  */

    .kerja-sama img{
        margin-top: 110px;
        /* width: 190px; */
        border-radius: 8px;
        margin-bottom: 70px;
    } 
    
    .terbaik {
        /* position: relative; */
        /* display: flex;
        justify-content: space-between; */
        align-items: center; 
        background-color: #191918;
        padding: 70px 100px 0; /*ini sangat ngaruh suaaya contene ak tengah atau menjorok kedalam*/
    }

    .terbaik .section-terbaik .garis h2 {
        font-size: 24px;
        color: rgb(242, 127, 51);
        font-weight: 400;
        line-height: 32px;
        font-family: 'League Spartan', sans-serif;
    }
    .terbaik .section-terbaik .garis img {
        margin-bottom: 4px;
    }
    
    
    .section-terbaik p{
       
        width: 700px; 
        max-width: 600px;
        /* color: red; */
    }
    .section-terbaik .satu{
        margin-top: 35px;
        font-size: 56px;
        line-height: 64px;
        font-weight: 400;
        font-family: 'League Spartan' sans-serif;
        margin-right: -2000px;
        color: rgb(242, 127, 51);
    }
    .section-terbaik .satu span{
        color: rgba(109, 157, 255, 1);
        
    }
    .section-terbaik p{
        font-size: 56px;
        line-height: 64px;
        font-weight: 400;
        color: rgba(109, 157, 255, 1);
    }
    
    .tentang-terbaik p {
        margin-top: 10px;
        max-width: 600px;
        margin-right: -20px;
    }
    .terbaik img {
        /* position: absolute; */
        top: 100px;
        right: 90px;
        /* margin-right: 50px; */
        /* margin-top: 90px; */
        /* max-width: 600px; */
        /* color: #06BD4F; */
        margin-right: 20px;
    }
    /* .terbaik img {
        position: ;
        margin-top: 90px;
        max-width: 600px;
        color: #06BD4F;
        margin-right: -20px;
    } */

    .terbaik-dua {
        /* position: relative; */
        /* display: flex;
        justify-content: flex-start; */
        align-items: center; 
        background-color: #191918;
        /* margin-bottom : 29px; */
         padding: 10px 100px 0;
    }

    .terbaik-dua p{
        /* display: inline block;
        position: relative;
        margin-top: 20px; */
        margin-top: 30px;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    font-family: 'League Spartan', sans-serif;
     width: 600px;    
     color:rgba(219, 237, 255, 1);
    }
    .terbaik-dua p span{
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    font-family: 'League Spartan', sans-serif;
     width: 400px;    
     color: rgba(219, 237, 255, 1);
    }
    .terbaik-dua button{
        display: inline-block;
        margin-top: 50px;
        box-sizing: border-box;
        padding: 17px 40px;
        border: none;
        background: linear-gradient(82.3deg, #FF6601 0%, #FF9D5C 100%);
        border-radius: 32px;
        border-radius: 40px;
        font-size: 24px;
        line-height: 32px;
        color: #FFFFFF;
        font-family: 'League Spartan' sans-serif;
        font-weight: 600;
        margin-bottom: 60px;
        color: #fff;
    }
    .terbaik-dua button:hover{
        cursor: pointer;
        display: inline-block;
        margin-top: 50px;
        box-sizing: border-box;
        padding: 17px 40px;
        border: none;
        transition-delay: 0.5s;
        background: linear-gradient(82.3deg, #FF6601 0%, #FF9D5C 100%);
        box-shadow: #dc502d 0px 30px 60px -12px inset, #dc502d 0px 30px 30px -10px;
        border-radius: 32px;
        border-radius: 40px;
        font-size: 24px;
        line-height: 32px;
        color: #FFFFFF;
        font-family: 'League Spartan';
        font-weight: 600;
        margin-bottom: 30px;
        /* color: #fff; */
    }

    .terbaik-col{
        /* position: relative; */
        display: flex;
        flex-wrap: wrap;
        /* justify-content:   ;  */
        align-items: center; 
        background-color: #191918;
        /* margin-bottom : 29px; */
         padding: 0 100px 0;
    }

    .terbaik-col .icon-terbaik{
        height: 118px;
        width: 275px;
        margin-right: 40px;
        /* margin-left: 28px; */
        margin-bottom: 32px;
        background: #252A31;
        /* backdrop-filter: blur(50px); */
        /* Note: backdrop-filter has minimal browser support */
        border-left: 4px solid rgba(255, 157, 92, 1);
        /* margin-bottom: 50px; */
    }
    .terbaik-col .icon-terbaik .bold{
        font-size: 32px;
        line-height: 40px;
        font-weight: 600;
        color: #f3f3f9;
        font-family: 'League Spartan', sans-serif;
        padding-top: 25px;
        padding-left: 40px;
    }
    .terbaik-col .icon-terbaik .p{
        font-weight: 400;
        font-family: 'League Spartan', sans-serif;
        font-size: 18px;
        line-height: 26px;
        color: #babacd;
        padding-top: 5px;
        padding-right: 10px;
        padding-left: 40px;
    }

    .pingir {
        /* margin-top: 30px; */
        background-color: #191918;
        /* margin-bottom: ; */
    }
    .pingir img {
        /* position: relative; */
        margin-top: -670px;
        margin-left: 770px;
        width: 430px;
        height: 600px;
        display: block;
    }
    .pingir .img-2 {
        /* position: relative; */
        /* bottom: 1380px; */
        /* display: block; */
        display: block;
        margin-top: -700px;
        margin-left: 860px;
        width: 430px;
        height: 600px;
        /* margin-bottom: -700px; */
    }
    .pingir .garis {
        /* position: relative; */
        /* bottom: 1960px; */
        margin-left: 830px;
        margin-top: -580px;
        /* width: 250px;
        height: 350px; */
        width: 30px;
        height: 80px;
        background-color: rgba(23, 100, 255, 1);
    }
    .pingir .garis-2 {
        /* position: relative; */
        /* bottom: 1980px; */
        /* margin-left: 710px; */
        margin-left: 1290px;
        /* width: 250px;
        height: 350px; */
        width: 30px;
        height: 80px;
        background-color: rgba(241, 112, 37, 1);
    }

    .blog-kami {
        /* position: relative; */
        background-color: #191918;
        /* width: 100%; */
        /* height: 100vh; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 590px;
        /* margin-top: 0px; */
        padding: 70px 8% 0; /*ini sangat ngaruh suaaya contene ak tengah atau menjorok kedalam*/
        /* overflow-x: hidden; */
    }

    .section-blog-kami h2 {
        font-size: 24px;
        color: rgb(242, 127, 51);
        font-weight: 400;
        line-height: 32px;
        font-family: 'League Spartan', sans-serif;
    }
    .section-blog-kami img {
        margin-bottom: 4px;
    }
    
    .section-blog-kami .satu{
        font-size: 48px;
        line-height: 56px;
        margin-bottom: 55px;
        margin-top: 30px;
        font-weight: 400;
        font-family:'League Spartan',sans-serif;
        /* font-weight: 900px; */
        color: rgb(108, 157, 255,1);
    }
    .blog-kami-second .bulet {
        width: 45px;
        height: 45px;
        /* margin-bottom: 30px; */
        /* padding-bottom: 3px; */
        padding-right: 2px;
        align-items: center;
        display: flex;
        justify-content: center;
        margin-left: 700px;
        background-color: rgb(254, 255, 255);
        color: #45505b;
        font-weight: 600;
        /* margin-top: 1px; */
        font-size: 30px;
        border-radius: 50%;
    }
    
    .bulet-2 {
        align-items: center;
        /* margin-bottom: 70px; */
        /* margin-left: 30px; */
        display: flex;
        justify-content: center;
        padding-bottom: 3px;
        padding-left: 2px;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        color: #000001;
        font-weight: 600;
        font-size: 30px;
        background-color: rgb(254, 255, 255);
    }

    .col-4 {
        /* position: relative; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 8% 0;
        background-color: #191918;
    }
    
    .col-4 .icon {
        height: 360px;
        width: 262px;
        /* border: 4px solid; */
        /* padding-top: 1px; */
        background-color: rgba(37, 42, 49, 1);
        margin-bottom: 40px;
        margin-right: 15px;
    }
    
    .blog-kami-content img{
        padding: 16px;
        width: 100%;
        /* transition: .4s; */
    }
    .blog-kami-content img:hover{
        cursor: pointer;
       scale: 1.1;
    }
    
    .col-4 .icon h3 {
        font-weight: 400;
        padding-left: 15px;
        color: rgba(255, 255, 255, 1);
        padding-right: 16px;
        font-size: 20px;
        margin-bottom: -50px;
        line-height: 25px;
        font-family: 'League Spartan' sans-serif;
        /* width: 250px; */
        /* padding-right: 15px; */
        /* margin: 10px 10px 15px 0; */
        /* margin-top: 47px; */
        /* margin-left: 20px; */
    }
    
    .col-4 .icon p .kalender {
        color: rgba(255, 255, 255, 1);
        font-weight: 600;
        /* padding-top: 10px; */
        /* line-height: 24px; */
        /* line-break: 50px; */
        /* font-size: 29px; */
        /* margin-bottom: -100px; */
        padding-left: 15px;
        /* margin-left: 27px; */
        /* font-size: 20px; */
    }
    .col-4 .icon p .titik {
        font-weight: 1000;
        color: rgba(255, 255, 255, 1);
        margin-left: 4px;
        /* border-radius: 50%; */
        /* background-color: #000001; */
    }
    .col-4 .icon p .tanggal {
        /* font-weight: 1000; */
        color: rgba(255, 255, 255, 1);
        /* border-radius: 50%; */
        /* background-color: #000001; */
    }
    .col-4 .icon p .type {
        font-size: 10px;
        width: 100%;
        height: 30px;
        background: rgba(6, 189, 79, 0.16);
        padding: 4px 9px;
        color: #06BD4F;
        margin-left: 4px;
        margin-bottom: 40px;
        /* font-weight: 1000; */
        /* border-radius: 50%; */
        /* background-color: #000001; */
    }
    .col-4 .icon p  {
        /* font-weight: 600; */
        /* line-height: 24px; */
        /* line-break: 50px; */
        font-size: 12px;
        /* margin-right: 10px ; */
        margin-top: 70px;
        /* padding-left: 5px; */
        /* margin-left: 27px; */
        /* font-size: 20px; */
    }

    .btn-2 {
        display: inline-block;
        padding-left: 15px ;
        /* background: #0ef; */
        /* border-radius: 40px; */
        /* box-shadow: 0 0 10px #0ef; */
        font-size: 16px;
        color: #1f242d;
        text-decoration: none;
        /* letter-spacing: 1px; */
        font-weight: 400;
        margin-top: 50px;
    }
    .col-4 .icon .p {
        display: block;
        width: 9px;
        height: 9px;
        float: top;
        /* float: right; */
        /* margin-left: 1px; */
        /* margin-top:0px; */
        /* margin-bottom: 90px; */
        /* margin-right: 0px; */
        background-color: coral;
    }

    .background {
    /* position: relative; */
    background-color: #191918;
    /* display: flex;
    justify-content: space-around; */
    align-items: center;
    /* margin-top: 0px; */
    padding: 40px 8% 0; 
    /* margin-top: 40px; */
    }
    
    .background .color {
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 550px;
        background-color: rgb(13, 81, 218);
    }
    .background .color p {
        /* display: block;
        position: relative; */
       color: rgb(245, 237, 237);
       width: 500px;
       font-family: 'League Spartan' sans-serif;
       line-height: 64px;
       margin-right: 80px;
       font-size: 49px;
       margin-top: 140px;
       font-weight: 600;
    }
    .background .color .img-1 {
        /* position: absolute; */
        /* display: block; */
        margin-left: 60px;
        /* position: relative; */
     margin-top: 50px;
    }
    .background .color .img-2 {
        display: block;
     margin-top: -130px;
     /* padding-right: 20px; */
     /* padding-left: 20px; */
     /* margin-right: 50px; */
    }
    
    /* .hubungi-kami {
        background-color: #191918;
     } */
     /* .hubungi-kami .isi-lihat-legkap {
        padding-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
     } */
    
     .hubungi-kami .isi-lihat-legkap button {
        display: inline-block;
        box-sizing: border-box;
        margin-top: 40px;
        padding: 15px 30px;
        border: none;
        background-color: rgba(252, 144, 64, 1);
        border-radius: 40px;
        font-size: 24px;
        line-height: 32px;
        color: #fdfeff;
        font-family: 'League Spartan' sans-serif;
        font-weight: 600;
        margin-bottom: 70px;
        /* color: #fff; */
     }
     .hubungi-kami .isi-lihat-legkap button:hover {
        cursor: pointer;
        display: inline-block;
        box-sizing: border-box;
        margin-top: 40px;
        cursor: pointer;
        padding: 15px 30px;
        border: none;
        background: linear-gradient(82.3deg, #FF6601 100%);
        box-shadow: #dc502d 0px 30px 60px -12px inset, #dc502d 0px 20px 30px -10px;
        border-radius: 40px;
        font-size: 24px;
        line-height: 32px;
        color: #fdfeff;
        font-family: 'League Spartan' sans-serif;
        font-weight: 600;
        margin-bottom: 70px;
        /* color: #fff; */
     }
    
     .background-end {
        /* position: relative; */
        background-color: #191918;
        /* display: flex;
        justify-content: space-around; */
        align-items: center;
        height: 450px;
        /* margin-bottom: 50px; */
        padding: 40px 8% 0; 
     }

     .content-end {
        display: flex;
        justify-content: space-between;
        margin-top: 90px;
        /* width: 100%;
        height: 500px;
        background-color: #0ef; */
     }
     .content-end ul {
        color: rgb(248, 249, 252);
        font-size: 24px;
        line-height: 32px;
        font-family: 'League Sparan' sans-serif;
        font-weight: 600;
        display: flex;
        gap: 2.5rem;
     }

     .isi p {
        padding-top: 13px;
        width: 300px;
        font-size: 16px;
       line-height: 24px;
       font-family: 'League Spartan' sans-serif;
       font-weight: 300;
       color: rgb(222, 224, 231);
     }
     .isi .img {
        /* font-size: 100px; */
        width: 225px;
     }
     .isi p span{
        padding-top: 50px;
       font-size: 8.5px;
       margin-right: 3px;
       color: rgb(248, 249, 252);
     }
     .isi p .span-2{
       padding-top: 30px;
       margin-left: 30px;
       font-size: 15px;
       line-height: 24px;
       font-family: 'League Spartan' sans-serif;
       font-weight: 300;
       color: rgb(248, 249, 252);
       
     }

     .isi-2 p {
        padding-top: 60px;
        margin-left: 20px;
       font-size: 16px;
       line-height: 24px;
       font-family: 'League Spartan' sans-serif;
       font-weight: 300;
       color: rgb(248, 249, 252);
     }

     .ulti {
        /* position: absolute; */
        top: 0px;
        margin-top: 110px;
        margin-left: 500px;
        color: #06BD4F;
     }
     .ulti li {
        /* position: absolute; */
        top: 0px;
        margin-top: -140px;
        margin-left: 10px;
        height: 20px;
        width: 20px;
        /* background-color: wheat;
        padding: 12px;
        text-align: center;
        align-items: center; */
     }

     
@media (max-width: 992px) {
    .navbar .link,
    .navbar .action_btn{
        display: none;
    }    

    .navbar .togle_btn{
        display: block;
        margin-right: 20px;
    }

    .dropdown_menu {
        display: block;
    }
}

@media only screen and (max-width: 768px) {
    .navbar .togle_btn .p{
        display: none;
        margin-right: 10px;
    }
    .navbar .togle_btn a{
        display: block;
        margin-right: 10px;
    }
    .container {
        background-image: url('../navbar/asset/Image.png');
        /* scale: 1.05; */
        height: 520px;
        background-size: cover;
        position: relative;
    }
    .navbar .logo img {
        margin-left: 35px;
        /* margin-right: 204px; */
        font-size: 30px;
        font-weight: 500;
    }
    .container-content > h3 {
        width: 400px;
        color: #fff;
        margin-bottom: 20px;
        margin-left: -20px;
        font-size: 32px;
        line-height: 40px;
        font-family: 'League Spartan', sans-serif;
        font-weight: 700;
    }
    .container-content > p {
        font-size: 14px;
        color: rgb(247, 238, 238);
        margin-bottom: 25px;
        font-weight: 500;
        width: 300px;
        margin-left: -18px;
        line-height: 25px;
        /* font-family: 'League Spartan', sans-serif; */
    }
    .container-content .btn {
        display: inline-block;
        padding: 10px 78px;
        background-color: rgb(242, 127, 51);
        border-radius: 40px;
        /* box-shadow: 0 0 10px #0ef; */
        font-size: 24px;
        line-height: 32px;
        /* color: #1f242d; */
        text-decoration: none;
        margin-left: -20px;
        /* letter-spacing: 1px; */
        font-weight: 600;
        margin-bottom: 260px;
        font-family:  'League Spartan', sans-serif ;
        /* font-size: 20px; */
        color: #fff;
    }
    .btn:hover {
        cursor: pointer;
        display: inline-block;
        padding: 10px 78px;
        background-color: rgb(242, 127, 51);
        border-radius: 40px;
        /* box-shadow: 0 0 10px #0ef; */
        font-size: 24px;
        line-height: 32px;
        /* color: #1f242d; */
        text-decoration: none;
        /* letter-spacing: 1px; */
        font-weight: 600;
        margin-bottom: 260px;
        font-family:  'League Spartan', sans-serif ;
        /* font-size: 20px; */
        color: #fff;
        box-shadow: #dc502d 0px 30px 60px -12px inset, #dc502d 0px 30px 60px -12px; 
    }
    /* .navbar .logo img {
        margin-left:
         70px;
        margin-right: 204px;
        font-size: 20px;
        font-weight: 500;
    } */
    .tentang {
        /* position: relative; */
        /* width: 100%; */
        /* height: 100vh; */
        display: block;
        /* justify-content: center;
        align-items: center; */
        background-color: rgba(246, 249, 252, 1);
        /* margin-top: 0px; */
        padding: 70px 4% 0; /*ini sangat ngaruh suaaya contene ak tengah atau menjorok kedalam*/
        padding-top: 90px;
    }
    .section-tentang .garis h2{
        text-align: center;
        align-items: center ;
        /* margin-left: -30px; */
        font-size: 20px;
        color: #FF6600;
        font-weight: 400;
        line-height: 24px;
        font-family: 'League Spartan', sans-serif;
        margin-bottom: 20px;
    }
    .section-tentang .satu{
        margin-left: 18px;
        text-align: center;
        align-items: center;
        font-size: 28px;
       font-family: 'League Spartan', sans-serif;
       font-weight: 400;
       color: 
       #FF6600;
       line-height: 32px;

    }
    .section-tentang span{
        font-size: 28px;
        color: rgb(44, 70, 133);
         /* margin-left: 18px; */
        margin-right: 80px;
        font-family: 'League Spartan', sans-serif;
       font-weight: 400;
    }
    .section-tentang .dua{
        /* text-align: center;
        align-items: center; */
        line-height: 38px;
        margin-left: 160px;
        /* margin-left: 18px; */
        font-size: 28px;
        color: rgb(44, 70, 133);
        font-family: 'League Spartan', sans-serif;
       font-weight: 400;
        /* padding-left: 0px; */
    }
    .tentang-second p {
        /* display: block;
        position: relative; */
        margin-top: 30px;
        color: rgba(9, 31, 79, 1);
        font-size: 16px;
        font-family: 'League Spartan', sans-serif;
        font-weight: 400;
        margin-left: -12px;
        line-height: 23px;
        width: 480px;
        text-align: center;
        /* text-align: left; */
        /* text-indent: 30px; */
        /* content: hidden; */
        /* max-width: 600px; */
        /* width: 800px; */
        /* padding-right: px; */
        }
    .tentang-second p span{
        
        color: rgba(9, 31, 79, 1);
        font-size: 16px;
        font-family: 'League Spartan', sans-serif;
        font-weight: 700;
    }
    .tentang-second p .tengah{
        margin-right: 80px;
        color: rgba(9, 31, 79, 1);
        font-size: 14px;
        font-family: 'League Spartan', sans-serif;
        font-weight: 400;
    }
    .col {
        /* position: relative; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 13% 0;
        /* background-color: rgb(14, 60, 106); */
        background-color: rgba(246, 249, 252, 1);
        /* margin-bottom: 400px; */
        /* height: 800px; */
        /* width: 100%; */
        /* height: 100vh; */
        /* margin-top: 0px; */
       /* height: 100px;
       width: 100px;
       background-color: #0ef; */
       
    }
    .col .icon {
        display: flex;
        /* align-items: stretch; */
        border-radius: 4px;
        height: 389px;
        width: 340px;
        background-color: rgba(255, 255, 255, 0.5);
        margin-bottom: 100px;
        margin-right: 8px;
    }

    .col .icon .icon-content img{
        width: 500px;
        height:175px;
        margin-left: 30px;
        /* margin-right: 20px; */
        margin-top: 17px;
    }
    .col .icon h3 {
    font-weight: 700;
    color: rgba(24, 57, 125, 1);
    margin-top: 215px;
    margin-left: -180px;
    font-size: 20px;
    }
.col .icon p {
    /* font-weight: 600; */
    color: rgba(24, 57, 125, 1);
    width: 300px;
    line-height: 24px;
    line-break: 50px;
    /* font-size: 25px; */
    /* margin-right: 80px ; */
    font-size: 18px;
    margin-top: 15px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 400;
    margin-left: -180px;
    padding-right: 10px;
    /* font-size: 20px; */
}

.col .icon .btn-1{
    display: block;
    padding: 5px 40px;
    background-color: rgb(255, 243, 236);
    border-radius: 40px;
    text-align: none;
    /* align-items: hidden; */
    /* box-shadow: 0 0 10px #0ef; */
    /* font-size: 1px; */
    /* color: #1f242d; */
    /* margin-left: -180px; */
    /* left: -100px; */
    text-decoration: none;
    /* letter-spacing: 1px; */
    font-family: 'League Spartan', sans-serif;
    /* font-weight: 600; */
    /* margin-top: 30px; */
    margin-left: -180px;
    margin-right: 130px;
    /* content: ''; */
    
    color: rgb(255, 121, 31);
}
/* .col .icon .btn-1{
    display: block;
    background-color: rgb(255, 243, 236);
    border-radius: 40px;
    text-align: none;
    text-decoration: none;
    font-family: 'League Spartan', sans-serif;
    margin-bottom: 200px;
    
    color: rgb(199, 119, 65);
} */

.col .icon .p {
    /* display: inline-block; */
    width: 15px;
    height: 15px;
    float: right;
    display: none;
    /* margin-left: 1px; */
    margin-top: -10px;
    margin-right: 0px;
    background-color: #FF6600;
}

    .kapabilitas {
        /* position: relative; */
        background-color: #191918;
        /* width: 100%; */
        /* height: 100vh; */
        display: flex;
        justify-content: flex-start;
        align-items: center;
        /* margin-top: 50px; */
        /* margin-top: 0px; */
        margin-top: -20px;
        padding: 70px 8% 0; /*ini sangat ngaruh suaaya contene ak tengah atau menjorok kedalam*/
    }

    .section-kapabilitas .garis h2{
        margin-top: -10px;
        text-align: center;
        align-items: center ;
        font-size: 20px;
        color: #ff822e;
        /* width: 500px; */
        font-weight: 400;
        line-height: 24px;
        font-family: 'League Spartan', sans-serif;
        /* margin-bottom: 20px; */
    }
    .section-kapabilitas .satu{
        padding-top: 10px;
        /* width: 490px; */
        text-align: center;
        align-items: center;
        /* margin-left: 20px; */
        font-size: 24px;
        line-height: 32px;
       font-family: 'League Spartan', sans-serif;
       font-weight: 400;
       color: 
       #FF6600;

    }
    
    .section-kapabilitas span{
        color: rgba(109, 157, 255, 1);
        /* text-align: center; */
        /* align-items: center; */
        font-size: 24px;
        /* line-height: 5px; */
       font-family: 'League Spartan', sans-serif;
       font-weight: 400;
    }

    .section-kapabilitas p{
        margin-left: 15px;
        color: rgba(109, 157, 255, 1);
        text-align: center;
        align-items: center;
        font-size: 24px;
       font-family: 'League Spartan', sans-serif;
       font-weight: 400;
    }
    
    .col-2 {
        /* position: relative; */
        /* width: 100%; */
        /* height: 100vh; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* margin-top: 0px; */
        padding: 40px 5% 0;
        background-color: #191918;
       /* height: 100px;
       width: 100px;
       background-color: #0ef; */
    }
    
    .col-2 .icon {
        /* position: relative; */
        display: flex;
        /* justify-content: ; */
        height: 470px;
        width: 310px;
        background-color: rgb(39, 43, 49);
        margin-bottom: 50px;
        margin-left: 15px;
        /* display: flex; */
        /* flex-direction : column; */
      /* box-shadow : 0 5px 20px rgba(0,0,0,0.5); */
      transition : 0.3s ease-in-out;
      /* border-radius : 15px; */
    }

    .col-2 .icon.kapabilitas-content img{
        /* display: block; */
        /* align-items: center; */
        /* max-width: 100%;
        width: 900px; */
        /* padding: 8px; */
        /* margin-left: 7px; */
        /* width: 100%; */
    /* transition: .2s; */
    margin-top: -5px;
    font-weight: 600;
    width: 310px; 
}

    .col-2 .icon img {
        /* display: block; */
        /* position: absolute; */
        margin-top: -5px;
        font-weight: 600;
        width: 310px;   
        /* height: 200px; */
        /* padding-left: 5px; */
        /* margin: 10px 10px 15px 0; */
        /* margin-top: 80px; */
        /* margin-left: 20px; */
        /* font-size: 22px; */
    }
    .col-2 .logo {
        display: block;
        position: absolute;
        margin-top: 400px;
        margin-left: 20px;
        /* font-weight: 600; */
        width: 60px;
        height: 30px;
        /* align-items: center; */
        /* width: 310px;    */
        /* height: 200px; */
        /* padding-left: 10px; */
        /* margin: 10px 10px 15px 0; */
        /* margin-top: 80px; */
        /* margin-left: 20px; */
        /* font-size: 22px; */
    }
    
    .col-2 .icon p {
          /* display: block; */
          width: 600px;
       font-size: 24px;
       /* line-height: 24px; */
       font-family: 'League Spartan', sans-serif;
       /* padding-left: 28px; */
       color: rgb(75, 130, 212);
       text-decoration: none;
       /* letter-spacing: 1px; */
       font-weight: 400;
       margin-top: 280px;
       /* margin-right: 300px; */
       margin-left: -310px;
        /* font-size: 20px; */
        /* font-size: 20px; */
    }
    .col-2 .icon .btn-2 {
        display: inline-block;
        padding-left: 28px;
        font-size: 16px;
        color: rgba(197, 226, 255, 1);
        text-decoration: none;
        /* letter-spacing: 1px; */
        font-weight: 400;
        margin-top: 40px;
    }
    .col-2 .icon .btn-2-1 {
        /* display: block; */
        font-size: 16px;
        /* line-height: 24px; */
        font-family: 'League Spartan', sans-serif;
        padding-left: 28px;
        color: rgb(174, 178, 183);
        /* text-decoration: none; */
        /* letter-spacing: 1px; */
        width: 300px;
        font-weight: 400;
        margin-top: 420px;
        /* margin-right: 190px; */
        margin-left: -404px;
    }
    .col-2 .icon .btn-2-3 {
        display: inline-block;
        font-size: 16px;
        line-height: 24px;
        font-family: 'League Spartan', sans-serif;
        padding-left: 28px;
        color: rgba(197, 226, 255, 1);
        text-decoration: none;
        /* letter-spacing: 1px; */
        font-weight: 400;
        margin-top: 75px;
    }
    .col-2 .icon .btn-2-4 {
        display: inline-block;
        font-size: 16px;
        line-height: 24px;
        font-family: 'League Spartan', sans-serif;
        padding-left: 28px;
        color: rgba(197, 226, 255, 1);
        text-decoration: none;
        /* letter-spacing: 1px; */
        font-weight: 400;
        margin-top: 75px;
    }

    .testimoni {
        /* position: relative; */
        background-color: #191918;
        /* width: 100%; */
        /* height: 100vh; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* margin-top: 30px; */
        /* margin-top: 0px; */
        padding: 70px 3% 0; /*ini sangat ngaruh suaaya contene ak tengah atau menjorok kedalam*/
        overflow: hidden;
        /* -ms-overflow-style: none; */
    }
    
    .testimoni::-webkit-scrollbar{
        display: none;
    }
    
    /* .testimoni .section-testimoni .garis {
         margin-left: 50px;
     } */
    .testimoni .section-testimoni .garis h2{
         margin-top: -10px;
        text-align: center;
        align-items: center ;
        font-size: 20px;
        color: #ff822e;
        /* width: 500px; */
        font-weight: 400;
        line-height: 18px;
        font-family: 'League Spartan', sans-serif;
        margin-bottom: 20px;
        margin-left: -10px;
     }
    .testimoni .section-testimoni .garis img{
        margin-bottom: 4px;
     }
    
    .section-testimoni .satu{
        font-size: 30px;
        width: 500px;
        text-align: center;
        margin-left: -15px;
        margin-bottom: 90px;
        /* line-height: 56px; */
        margin-top: 20px;
        font-family: 'League Spartan', sans-serif;
        font-weight: 400;
        /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
        /* font-weight: 900px; */
        color: rgba(109, 157, 255, 1);
    }
    
    .testimoni-second .bulet {
        width: 44px;
        height: 44px;
        padding-bottom: 3px;
        padding-right: px;
        align-items: center;
        display: flex;
        justify-content: center;
        margin-left: 720px;
        margin-bottom: 36px;
        background-color: rgb(255, 255, 255);
        color: #45505b;
        font-weight: 600;
        margin-top: 0px;
        font-size: 30px;
        border-radius: 50%;
    }
    
    .col-3 {
        /* position: relative; */
        /* display: inline-block; */
        /* width: 100%; */
        /* height: 100vh; */
        display: flex;
        /* justify-content: space-between; */
        /* align-items: center; */
        /* margin-top: 0px; */
        padding: 10px 0% 0;
        margin-left: -70px;
        /* padding-left: 20px; */
        /* overflow-x: scroll; */
        /* -ms-overflow-style: none; */
        /* scrollbar-width: none; */
        /* -ms-overflow-style: none; */
        /* -webkit-overflow-scrolling: touch; */
        background-color: #191918;
       /* height: 100px;
       width: 100px;
       background-color: #0ef; */
    }
    .col-3 .icon {
        display: block;
        height: 599px;
        width: 400px;
        padding-right: 50px;
        padding-left: 20px;
        background-color: rgba(37, 42, 49, 1);
        margin-bottom: 80px;
        margin-left: 110px;
        /* margin-right: 25px; */
    }
    .col-3 .icon-2 {
        display: block;
        height: 599px;
        width: 2020px;
        padding-right: 20px;
        padding-left: 20px;
        background-color:rgba(37, 42, 49, 1);
        margin-bottom: 50px;
        margin-left: 30px ;
        /* margin-right: 25px; */
    }
    .col-3 .icon p {
        margin-left: 40px;
        margin-top: 20px;
        font-size: 18px;
        font-family: 'League Spartan', sans-serif;
        font-weight: 300;
        line-height: 40px;
        width: 300px;
        color: 
        rgba(219, 237, 255, 1);
     }
     .col-3 .icon .btn-2 {
        margin-left: 27px;
        margin-top: 74px;
        font-size: 60px;
        font-family: 'League Spartan', sans-serif;
        color: rgba(219, 237, 255, 1);
     }
     .col-3 .icon .btn-2 span {
        margin-left: 27px;
        margin-top: 65px;
        font-size: 60px;
        font-family: 'League Spartan', sans-serif;
        color: rgb(137, 139, 140);
     }

     .lihat-lengkap {
        background-color: #191918;
     }
     .lihat-lengkap .isi-lihat-legkap {
        padding-top: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
     }
     .lihat-lengkap .isi-lihat-legkap button {
        display: inline-block;
        box-sizing: border-box;
        padding: 10px 28px;
        border: 0.1px solid rgb(247, 136, 63);
        background: none;
        border-radius: 40px;
        font-size: 24px;
        line-height: 32px;
        /* color: #1f242d; */
        /* font-family: 'League Spartan'; */
        font-weight: 500;
        font-family: 'League Spartan', sans-serif;
        margin-bottom: 40px;
        color: rgba(255, 157, 92, 1);
     }
     .lihat-lengkap .isi-lihat-legkap button:hover {
        display: inline-block;
        box-sizing: border-box;
        cursor: pointer;
        padding: 11px 30px;
        border: 0.1px solid rgb(255, 127, 42);
        background:  linear-gradient(82.3deg, #FF6601 0%, #FF9D5C 100%);
        box-shadow: #dc502d 0px 30px 60px -12px inset, #dc502d 0px 30px 30px -10px; 
        /* transition-delay: 0.5s; */
        border-radius: 40px;
        font-size: 24px;
        /* color: #1f242d; */
        font-weight: 600;
        font-family: 'League Spartan', sans-serif;
        margin-bottom: 40px;
        margin-bottom: 40px;
        color: rgb(253, 103, 15);
     }
     .mitra {
        /* position: relative;   */
        background-color: #191918;
        /* display: flex; */
        /* justify-content: ; */
        align-items: center;
        padding: 40px 2% 0; /*ini sangat ngaruh suaaya contene ak tengah atau menjorok kedalam*/
        }
        .mitra .center .satu{
            margin-top: 20px;
            font-family: 'League Spartan' sans-serif;
            font-weight: 400;
            font-size: 26px;
            /* line-height: 56px; */
            /* font-style: normal; */
            line-height: 45px;
            color: rgba(109, 157, 255, 1);
            /* margin-bottom: ; */
        }
        
        .mitra .center p{
            font-family: 'League Spartan' sans-serif;
            font-weight: 400;
            font-size: 26px;
            line-height: 45px;
            color: rgba(252, 144, 64, 1);
            /* margin-bottom: ; */
        }
        .kerja-sama{
            display: flex;
            justify-content: space-evenly;
            background-color: #191918;
            padding-left: 90px;
            padding-right:90px;
        } 

        .kerja-sama img{
            height: 70px;
            margin-top: 70px;
            margin-right: 10px;
            /* width: 190px; */
            border-radius: 8px;
            margin-bottom: 70px;
        } 
       
        .terbaik {
            /* position: relative; */
            /* display: flex;
            justify-content: space-between; */
            align-items: center; 
            background-color: #191918;
            padding: 70px 60px 0; /*ini sangat ngaruh suaaya contene ak tengah atau menjorok kedalam*/
        }
    
        .terbaik .section-terbaik .garis h2 {
            font-size: 20px;
            color: rgb(242, 127, 51);
            font-weight: 400;
            line-height: 28px;
            text-align: center;
            font-family: 'League Spartan', sans-serif;
        }

        .section-terbaik p{
            text-align: center;
             width: 370px; 
             max-width: 600px;
             /* color: red; */
         }
         .section-terbaik .satu{
             margin-top: 35px;
             font-size: 28px;
             line-height: 36px;
             font-weight: 400;
             font-family: 'League Spartan' sans-serif;
             margin-right: -2000px;
             color: rgb(242, 127, 51);
         }
         .section-terbaik .satu span{
             color: rgba(109, 157, 255, 1);
             
         }
         .section-terbaik p{
             font-size: 28px;
             line-height: 54px;
             font-weight: 400;
             /* text-indent: 50px; */
             color: rgba(109, 157, 255, 1);
         }
         .terbaik-dua {
             /* position: relative; */
             /* display: flex;
             justify-content: flex-start; */
             align-items: center; 
             background-color: #191918;
             /* margin-bottom : 29px; */
             height: 150px;
             text-align: center;
             /* margin-bottom: 90px; */
              padding: 10px 20px 0;
         }
         
         .terbaik-dua p{
             /* display: inline block;
             position: relative;
             margin-top: 20px; */
             /* text-align: center; */
             margin-right: 3px;
          margin-top: 20px;
         font-weight: 300;
         font-size: 20px;
         line-height: 20px;
         font-family: 'League Spartan', sans-serif;
      width: 450px;    
          color:rgba(219, 237, 255, 1);
          /* margin-bottom: ; */
         }
         .terbaik-dua p span{
         font-weight: 700;
         font-size: 19px;
         line-height: 32px;
         font-family: 'League Spartan', sans-serif;
          width: 400px;    
          color: rgba(219, 237, 255, 1);
         }

         .terbaik-dua button{
            /* display: none; */
            /* display: inline-block; */
            margin-top: 1370px;
            box-sizing: border-box;
            padding: 17px 40px;
            border: none;
            background: linear-gradient(82.3deg, #FF6601 0%, #FF9D5C 100%);
            border-radius: 32px;
            border-radius: 40px;
            font-size: 24px;
            line-height: 32px;
            color: #FFFFFF;
            font-family: 'League Spartan' sans-serif;
            font-weight: 600;
            margin-bottom: 60px;
            color: #fff;
        }
        .terbaik-dua button:hover{
            cursor: pointer;
            display: inline-block;
            margin-top: 50px;
            box-sizing: border-box;
            padding: 17px 40px;
            border: none;
            transition-delay: 0.5s;
            background: linear-gradient(82.3deg, #FF6601 0%, #FF9D5C 100%);
            box-shadow: #dc502d 0px 30px 60px -12px inset, #dc502d 0px 30px 30px -10px;
            border-radius: 32px;
            border-radius: 40px;
            font-size: 24px;
            line-height: 32px;
            color: #FFFFFF;
            font-family: 'League Spartan';
            font-weight: 600;
            margin-bottom: 30px;
            /* color: #fff; */
        }
        .tao {
/* position: relative; */
/* display: flex;
flex-wrap: wrap; */
/* justify-content: start;  */
/* align-items: center;  */
/* background-color: #b0b01b; */
/* margin-bottom : -100px; */
 padding: 0 0 0;
 margin-top: 800px;
 width: 700px;
 /* height: 900px; */
 /* margin-right: 180px; */
        }
        .terbaik-col{
            display: flex;
     flex-wrap: wrap;
/* justify-content: start ;  */
/* align-items: center;  */
background-color: #191918;
width: 700px;
/* height: ; */
margin-right: 1000px;
/* height: 5000px; */
/* text-align: ; */
/* margin-bottom : 29px; */
 /* padding: 0 100px 0;
 margin-top: 800px; */
        }
        .terbaik-col .icon-terbaik{
            /* top: 30px; */
             margin-left: -65px;
            /* margin-left: -50px;
            margin-right: -40px; */
            margin-right: 110px; 
            /* margin-right: 85px; */
            /* left: -50px; */
            /* display: block; */
            height: 115px;
            width: 185px;
            /* margin-right: 40px; */
            /* margin-right: 40px; */
            /* marg */
            /* margin-left: 28px; */
            margin-bottom: 32px;
            background: #252A31;
            /* backdrop-filter: blur(50px); */
            /* Note: backdrop-filter has minimal browser support */
            border-left: 4px solid rgba(255, 157, 92, 1);
            /* margin-bottom: 50px; */
        }
        .terbaik-col .icon-terbaik .bold{
            font-size: 30px;
            line-height: 40px;
            font-weight: 600;
            color: #f3f3f9;
            font-family: 'League Spartan', sans-serif;
            padding-top: 20px;
            margin-left: -30px;
            /* padding-left: -70px; */
        }
        .terbaik-col .icon-terbaik .p{
            font-weight: 400;
            font-family: 'League Spartan', sans-serif;
            font-size: 16px;
            line-height: 20px;
            color: #babacd;
            padding-top: 5px;
            padding-right: 10px;
            padding-left: 10px;
        }

        .pingir {
            margin-top: 351px;
            /* background-color: #186ce2; */
            height: 800px;
            display: block;
            /* margin-bottom: -200px; */
        }
        .pingir img {
            /* position: relative; */
            margin-top: -1592px;
            margin-left: 50px;
            /* margin-top: -250px; */
            width: 300px;
            height: 400px;
            display: block;
            margin-right: 50px;
        }
        .pingir .img-2 {
            /* position: relative; */
            /* bottom: 1380px; */
            /* display: block; */
            display: block;
            margin-right: 50px;
            margin-top: -250px;
            margin-left: 130px;
            width: 300px;
            height: 400px;
            /* margin-bottom: -700px; */
        }
        .pingir .garis {
            /* position: relative; */
            /* bottom: 1960px; */
            margin-left: 40px;
            margin-top: -550px;
            /* width: 250px;
            height: 350px; */
            width: 30px;
            height: 80px;
            background-color: rgba(23, 100, 255, 1);
        }
        .pingir .garis-2 {
            /* position: relative; */
            /* bottom: 1980px; */
            /* margin-left: 710px; */
            margin-left: 350px;
            /* width: 250px;
            height: 350px; */
            width: 30px;
            height: 80px;
            background-color: rgba(241, 112, 37, 1);
        }
        .blog-kami {
            /* position: relative; */
            background-color: #191918;
            /* width: 100%; */
            /* height: 100vh; */
            display: flex;
            justify-content: space-between;
            align-items: center;
            /* margin-top: -100px; */
            margin-top: 440px;
            padding: 70px 5% 0; /*ini sangat ngaruh suaaya contene ak tengah atau menjorok kedalam*/
            /* overflow-x: hidden; */
        }
    
        .section-blog-kami h2 {
            font-size: 20px;
            color: rgb(242, 127, 51);
            font-weight: 400;
            line-height: 32px;
            text-align: center;
            width: 420px;
            margin-top: 120px;
            font-family: 'League Spartan', sans-serif;
        }
        .section-blog-kami .satu{
            text-align: center;
            font-size: 30px;
            line-height: 56px;
            margin-bottom: 55px;
            margin-top: 30px;
            font-weight: 400;
            font-family:'League Spartan',sans-serif;
            /* font-weight: 900px; */
            color: rgb(108, 157, 255,1);
        }

        .col-4 {
            /* position: relative; */
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 8px 6% 0;
            background-color: #191918;
        }
        
        .col-4 .icon {
            height: 400px;
            width: 302px;
            /* border: 4px solid; */
            /* padding-top: 1px; */
            background-color: rgba(37, 42, 49, 1);
            margin-bottom: 40px;
            margin-right: 15px;
        }
        .blog-kami-content img{
            padding: 16px;
            width: 270px;
            height: 270px;
            /* transition: .4s; */
        }

        .col-4 .icon h3 {
            font-weight: 500;
            padding-left: 15px;
            color: rgba(255, 255, 255, 1);
            padding-right: 16px;
            font-size: 18px;
            margin-bottom: -35px;
            line-height: 25px;
            font-family: 'League Spartan' sans-serif;
            /* width: 250px; */
            /* padding-right: 15px; */
            /* margin: 10px 10px 15px 0; */
            /* margin-top: 47px; */
            /* margin-left: 20px; */
        }
        .background {
            /* position: relative; */
            background-color: #191918;
            /* display: flex;
            justify-content: space-around; */
            align-items: center;
            /* margin-top: 0px; */
            padding: 1px 3% 0; 
            /* margin-top: 40px; */
            }
            .background .color {
                display: flex;
                justify-content: space-around;
                /* width: 100%; */
                height: 300px;
                background-color: rgb(13, 81, 218);
            }
            .background .color p {
                display: block;
                /* display: block;
                position: relative; */
               color: #f5eded;
               width: 500px;
               width: 200px;
               font-family: 'League Spartan' sans-serif;
               line-height: 36px;
               margin-left: 120px;
               padding-left: 25px;
               font-size: 23px;
               margin-top: 60px;
               font-weight: 600;
            }
            .background .color .img-1 {
                /* position: absolute; */
                /* left: 270px; */
                display: block;
                padding-right: 45px;
             margin-top: 30px;
             /* width: 150px; */
             margin-right: 100px;
            height: 180px;
            width: 150px;
            }
            .background .color .img-2 {
                /* position: absolute; */
             margin-top: -120px;
             right:90px;
             /* height: 200px; */
             height: 180px;
             width: 110px;
             margin-right: 100px;
            }
            .hubungi-kami .isi-lihat-legkap button {
                display: inline-block;
                box-sizing: border-box;
                margin-top: 20px;
                padding: 5px 50px;
                /* padding-left: 95px; */
                border: none;
                background-color: rgba(252, 144, 64, 1);
                border-radius: 40px;
                font-size: 13px;
                line-height: 32px;
                color: #fdfeff;
                font-family: 'League Spartan' sans-serif;
                font-weight: 600;
                /* margin-bottom: -50px; */
                margin-left: 145px;
                /* color: #fff; */
             }
             .hubungi-kami .isi-lihat-legkap button:hover {
                cursor: pointer;
                display: inline-block;
                box-sizing: border-box;
                margin-top: 20px;
                padding: 5px 50px;
                cursor: pointer;
                border: none;
                background: linear-gradient(82.3deg, #FF6601 100%);
                box-shadow: #dc502d 0px 30px 60px -12px inset, #dc502d 0px 20px 30px -10px;
                border-radius: 40px;
                font-size: 13px;
                line-height: 32px;
                color: #fdfeff;
                font-family: 'League Spartan' sans-serif;
                font-weight: 600;
                margin-bottom: 70px;
                /* color: #fff; */
             }
             
         .background-end {
            /* position: relative; */
            background-color: #191918;
            /* display: flex;
            justify-content: space-around; */
            align-items: center;
            height: 750px;
            /* margin-bottom: 50px; */
            padding: 40px 5% 0; 
         }
    
         .content-end {
            display: block;
            /* justify-content: space-between; */
            margin-top: 30px;
            /* width: 100%;
            height: 500px;
            background-color: #0ef; */
         }
         .content-end .ul {
            color: rgb(248, 249, 252);
            font-size: 18px;
            line-height: 36px;
            font-family: 'League Sparan' sans-serif;
            font-weight: 600;
            display: block;
            margin-top: 30px;
            /* gap: 2.5rem; */
         }
    
         .isi .img {
            /* font-size: 100px; */
            width: 148px;
            height: 32px;
         }
         
         .isi p {
            padding-top: 13px;
            width: 300px;
            font-size: 14px;
           line-height: 21px;
           font-family: 'League Spartan' sans-serif;
           font-weight: 300;
           color: rgb(222, 224, 231);
         }

         .isi-2 p {
            padding-top: 100px;
            margin-left: -2px;
            width: 350px;
           font-size: 16px;
           line-height: 24px;
           font-family: 'League Spartan' sans-serif;
           font-weight: 300;
           color: rgb(248, 249, 252);
         }

         .ulti {
            position: relative;
            display: flex;
            margin-left: -10px;
            /* justify-content: space-around; */
            /* margin-left: 50px; */
            /* top: 0px;
            
            margin-left: -30px;
            margin-top: 600px; */
            /* margin-left: 500px; */
            /* color: #06BD4F; */
         }
         .ulti li {
            margin-top: -229px;
            /* position: absolute; */
            /* top: 0px; */
            /* margin-top: 110px; */
            display: flex;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            padding: 10px;
            background-color: #202020;
            /* padding: 10px; */
            /* margin-right: 200px; */
            /* justify-content: space-around; */
            /* margin-left: -950px; */
            margin-right: -30px;
            /* height: 20px;
            width: 20px; */
            /* background-color: wheat;
            padding: 12px;
            text-align: center;
            align-items: center; */
         }
  }


